
body {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    background-color: rgb(87, 118, 145);
}

.bg {
    background-image: url('assets/background.jpg');
    background-blend-mode: multiply;
    height: 100%;
  }
  
.banner {
    margin:0;
    padding-right: 70px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#border {
    margin-bottom: 0;  
    margin-top: 0;
    font-size: 80px;
}  
#gameNameTitle {
    /* margin-top: 50px; */
    margin-top: 0;
    margin-bottom: 0;    
    font-size: 80px;
}

#gameEditionTitle {
    margin-top: 0;
    font-size: 50px; 
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%{
        color: rgb(34, 34, 34);
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #ffffff; 
        text-shadow: #ff005b; 
    }  
}

.neonBoxes {
  box-shadow: 0 0 20px #ff005b; 
}

.neonTexts {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ff005b,
    0 0 82px #ff005b, 
    0 0 92px #ff005b,
    0 0 102px #ff005b,
    0 0 151px #ff005b; 
}

/* 
.gameName */