
.game-box {
    width: 700px;
    height: 700px;
    padding: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    opacity:0.8;
    text-align: center;
    border: 2px solid rgb(32, 2, 104);
    border-radius: 25px;
    box-shadow: 0 0 100px #150355; 
}

.memory-game {
    width: 680px;
    height: 680px;
    margin: auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.memory-card {
    position: relative;
    margin: 5px;
    display: flex;
    flex: 1 0 21%;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.memory-card:hover {
    transform: scale(0.5);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-of-card,
.back-of-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    backface-visibility: hidden;

}

.front-of-card {
    transform: rotateY(180deg);
}