
.game-box {
    width: 650px;
    height: 650px;
    padding: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    opacity:0.8;
    text-align: center;
    border: 2px solid rgb(32, 2, 104);
    border-radius: 25px;
    box-shadow: 0 0 100px #150355;
    

   
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.memory-card {
    position: relative;
    flex: 1 0 21%;
    height: 25%;
    width: 22%;    
}

.front-of-card,
.back-of-card {
    position: absolute;
    width: 90%;
    height: 90%;
    transform: translate(-50%, 10%);

}