
.login-heading {
    color: white;
}
.box {
    width: 400px;
    padding: 50px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    opacity:0.8;
    text-align: center;
    border: 2px solid rgb(32, 2, 104);
    border-radius: 25px;
    box-shadow: 0 0 100px #150355;
}

.box input[type = "text"],
.box input[type = password] {
    border: 0;
    color: white;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid orchid;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    border-radius: 25px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,
.box input[type = password]:focus {
    width: 300px;
    border-color: rgb(210, 242, 252);
    transition: 0.25s;
    box-shadow: 0 0 50px #15f4fc;  

}

.box input[type = "submit"]{
    border: 0;
    background: none;
    color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid orchid;
    padding: 14px 40px;
    outline: none;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type = "submit"]:hover {
    background: orchid;
}
/* 
.box input[type = "text"]:focus +.neon,
.box input[type = password]:focus+.neon {
    box-shadow: 0 0 50px #152cfc;  
} */