body{
    box-sizing: border-box;
}

h1 {
	font-weight: bold;
	margin: 0;
}

.sign-heading {
    color: white;
}

.container {
    width: 40vw;
    height: 50vh;
    padding: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #000000;
    opacity:0.8;
    text-align: center;
    border: 2px solid rgb(32, 2, 104);
    border-radius: 25px;
    animation: pulseShadow 60s linear infinite;
}

.container input[type = "text"],
.container input[type = "email"],
.container input[type = "password"] {
    border: 0;
    color: white;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    border-radius: 25px;
    transition: 0.25s;
}

.container input[type = "text"]:focus,
.container input[type = "email"]:focus,
.container input[type = "password"]:focus {
    width: 300px;
    border-color: rgb(210, 242, 252);
    transition: 0.25s;
    box-shadow: 0 0 50px #ffffff;  
}

.container input[type = "submit"],
.container button
{
    border: 0;
    background: none;
    color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.container input[type = "submit"]:hover,
.container button:hover {
    background: rgb(255, 255, 255);
    color: darkblue;
}

.login-container{
    position: absolute;
    width: 50%;
    left: 0;
    z-index: 2;
  	transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.register-container{
    position: absolute;
    width: 50%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.error-message {
    color: rgb(255, 0, 0);
    font-weight: bold;

}
.error {
    border:2px solid red;
    box-shadow: 0 0 50px red; 
}

.valid {
    border:2px solid green;
    box-shadow: 0 0 50px green; 
}

.overlay-container{
    position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
    transition: transform 0.6s ease-in-out;
	z-index: 100;
    border-radius: 0 25PX 25px 0; 
}

.overlay {
    background-color: rgb(1, 0, 22);
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.register-overlay {
	right: 0;
	transform: translateX(0);
}

.login-overlay  {
	transform: translateX(-20%);
}

.container.right-panel-active .login-overlay  {
	transform: translateX(0);
}

.container.right-panel-active .register-overlay  {
	transform: translateX(20%);
}

.container.right-panel-active .login-container {
	transform: translateX(100%);
    opacity: 0;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
    border-radius: 25px 0 0 25px; 

}

.container.right-panel-active .register-container {
	transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    transform: 1s;
}

.container.right-panel-active .overlay{
	transform: translateX(50%);
}