hr{
    opacity: 0;
}
.box-wellcome {
    width: 800px;
    padding: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center ;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    opacity:0.8;
    text-align: center;
    border: 2px solid rgb(32, 2, 104);
    border-radius: 25px;
    box-shadow: 0 0 100px #150355;
}

.welcome-text {
    font-size: 30px;
    color: white;
}

.login-and-register-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

input[type = "submit"]{
    border: 0;
    background: none;
    color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

input[type = "submit"]:hover {
    background: rgb(5, 0, 46);
}